!!!5
html
  head
    title NGN APL
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css')
    link(rel='stylesheet', href='images/symbols.css')

    // APL core
    script(src='../web/examples.js')
    script(src='../web/fake-exports.js')
    script(src='../lib/helpers.js')
    script(src='../lib/parser.js')
    script(src='../lib/builtins.js')
    script(src='../lib/complex.js')
    script(src='../lib/compiler.js')
    script(src='../lib/browser.js')

    // jQuery Mobile
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js')

    // Editor scripts
    script(src='index.js')

  body
    div(data-role='page')
      div(data-role='header'): h1 NGN APL
      #editor(data-role='content'): img#cursor(src='images/cursor.png')
      #footer(data-role='footer', data-position='fixed')
        #syms
        a#backspace(href="#", data-role="button", data-icon="delete") Backspace
        a#exec(href="#", data-role="button", data-icon="check") Exec
