!!!5
html
  head
    title NGN APL
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    style
      @import url('index.css');
      @font-face {
        font-family: 'apl';
        font-style: normal;
        font-weight: 400;
        src: local('apl'), url('') format('woff');
      }

  body
    #editor(data-role='content')
      img#cursor(src='images/cursor.png')

    table.keyboard
      tr
        td.key(colSpan=2) // q
        td.key(colSpan=2) // w
        td.key(colSpan=2) // e
        td.key(colSpan=2) // r
        td.key(colSpan=2) // t
        td.key(colSpan=2) // y
        td.key(colSpan=2) // u
        td.key(colSpan=2) // i
        td.key(colSpan=2) // o
        td.key(colSpan=2) // p
      tr
        td
        td.key(colSpan=2) // a
        td.key(colSpan=2) // s
        td.key(colSpan=2) // d
        td.key(colSpan=2) // f
        td.key(colSpan=2) // g
        td.key(colSpan=2) // h
        td.key(colSpan=2) // j
        td.key(colSpan=2) // k
        td.key(colSpan=2) // l
        td
      tr
        td
        td.key.layoutSwitch(colSpan=2) A/⍎
        td.key(colSpan=2) // z
        td.key(colSpan=2) // x
        td.key(colSpan=2) // c
        td.key(colSpan=2) // v
        td.key(colSpan=2) // b
        td.key(colSpan=2) // n
        td.key(colSpan=2) // m
        td.key.backspace(colSpan=3) Backspace

    // APL core
    script(src='../web/examples.js')
    script(src='../web/fake-exports.js')
    script(src='../lib/helpers.js')
    script(src='../lib/parser.js')
    script(src='../lib/builtins.js')
    script(src='../lib/complex.js')
    script(src='../lib/compiler.js')
    script(src='../lib/browser.js')

    // jQuery
    script(src='jq/jquery-1.7.2.min.js')

    // Editor scripts
    script(src='index.js')
