body {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

#editor {
  cursor: text;
  padding: 10px; }

.keyboard {
  width: 100%;
  height: 25%;
  background-color: black;
  padding: 5px;
  position: fixed;
  bottom: 0; }
  .keyboard .key {
    text-align: center;
    color: white;
    cursor: pointer;
    border-style: solid;
    border-color: #999999 #777777 #777777 #999999;
    border-width: 3px;
    border-radius: 20%;
    background-color: #222222;
    overflow: hidden;
    text-overflow: ellipsis; }
  .keyboard .key.down {
    border-color: #777777 #999999 #999999 #777777;
    background-color: #111111; }
  .keyboard .capsLock.isOn {
    border-color: #777777 #999999 #999999 #777777;
    background: #111111 right top url("images/button-lock-light.png") no-repeat; }
  .keyboard td {
    width: 5%; }
  .keyboard td.key {
    width: 10%; }
  .keyboard td.key.backspace {
    width: 15%; }
