body
  padding: 0
  margin: 0
  font-family: apl

#editor
  cursor: text
  padding: 10px

.keyboard
  width: 100%
  height: 40%
  background-color: black
  padding: 3px 0 0 0
  position: fixed
  bottom: 0

  .key
    text-align: center
    color: #dda
    cursor: pointer
    border-style: solid
    border-color: #555 #333 #333 #555
    border-width: 2px
    border-radius: 10px
    background-color: #444
    overflow: hidden
    text-overflow: ellipsis

  .key.down, .alt.isOn, .shift.isOn
    border-color: #222 #444 #444 #222
    background-color: #333

  td
    width: 5%

  td.key
    width: 10%

  td.key.bksp
    width: 15%

#closeOutputButton
  position: fixed
  bottom: 0
  width: 100%
  font-size: 3ex
  color: #dda
  cursor: pointer
  border-style: solid
  border-color: #555 #333 #333 #555
  border-width: 2px
  border-radius: 10px
  background-color: #444

#result
  .character
    color: #840
    font-weight: bold

  .function
    color: green
    font-style: italic

  .unknown
    color: red

  .array
    border: solid black 1px

  .empty
    color: #aaa
    font-style: italic

  .error
    color: red
    border: solid #fdd 1px
    background-color: #fee
    padding: 10px
