!!!5
html
  head
    title NGN APL
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    style: @font-face { font-family: apl; src: url('fonts/apl385.ttf') format('truetype'); }
    style: @import url('index.css');

  body
    #editor(data-role='content')
      img#cursor(src='images/cursor.png')

    table.keyboard
      tr
        - for (var i = 0; i < 10; i++)
            td.key(colSpan=2)
      tr
        td
        - for (var i = 0; i < 9; i++)
            td.key(colSpan=2)
        td
      tr
        td.key.special.capsLock(colSpan=3) Caps
        - for (var i = 0; i < 7; i++)
            td.key(colSpan=2)
        td.key.special.backspace(colSpan=3) Bksp
      tr
        td.key.special.layoutSwitch(colSpan=3) A/âŽ
        td.key(colSpan=2)
        td.key(colSpan=2) /
        td.key.special.space(colSpan=6)
        td.key(colSpan=2) .
        td.key.special.enter(colSpan=5) Enter

    // APL core
    script(src='../web/examples.js')
    script(src='../web/fake-exports.js')
    script(src='../lib/helpers.js')
    script(src='../lib/parser.js')
    script(src='../lib/builtins.js')
    script(src='../lib/complex.js')
    script(src='../lib/compiler.js')
    script(src='../lib/browser.js')

    // jQuery
    script(src='jq/jquery-1.7.2.min.js')

    // Editor scripts
    script(src='index.js')
