body
  padding: 0
  margin: 0
  font-family: apl

#editor
  cursor: text
  padding: 10px
  font-size: 24px
  width: 100%
  height: 60%
  position: fixed
  overflow: scroll

.keyboard
  width: 100%
  height: 40%
  background-color: black
  padding: 3px 0 0 0
  position: fixed
  bottom: 0

  .key
    text-align: center
    color: #dda
    cursor: pointer
    border-style: solid
    border-color: #555 #333 #333 #555
    border-width: 2px
    border-radius: 10px
    background-color: #444
    overflow: hidden
    text-overflow: ellipsis

  .key.down, .alt.isOn, .shift.isOn
    border-color: #222 #444 #444 #222
    background-color: #333

  $execBG: #474
  .key.exec
    background-color: $execBG
    border-color: lighten($execBG, 15%) darken($execBG, 15%) darken($execBG, 15%) lighten($execBG, 15%)

  $modBG: #763
  .key.alt, td.key.shift
    background-color: $modBG
    border-color: lighten($modBG, 15%) darken($modBG, 15%) darken($modBG, 15%) lighten($modBG, 15%)

  .key.alt.isOn, td.key.shift.isOn
    color: #aa8
    background-color: darken($modBG, 15%)
    border-color: darken($modBG, 30%) darken($modBG, 10%) darken($modBG, 10%) darken($modBG, 30%)

  td
    width: 5%

  td.key
    width: 10%

  td.key.bksp
    width: 15%

#result
  margin: 15px 15px 60px 15px

  .character
    color: #840
    font-weight: bold

  .function
    color: green
    font-style: italic

  .unknown
    color: red

  .array
    border: solid black 1px

  .empty
    color: #aaa
    font-style: italic

  .error
    color: red
    border: solid #fdd 1px
    background-color: #fee
    padding: 10px

#closeOutputButton
  position: fixed
  bottom: 0
  width: 100%
  height: 10%
  font-size: 3ex
  color: #dda
  cursor: pointer
  border-style: solid
  border-color: #555 #333 #333 #555
  border-width: 2px
  border-radius: 10px
  background-color: #444
