body {
    padding: 0;
    margin: 0;
    font-family: "APL385 Unicode", monospace;
}

#editor {
    cursor: text;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    height: 60%;
    position: fixed;
    overflow: scroll;
}

.keyboard {
    width: 100%;
    height: 40%;
    background-color: black;
    padding: 3px 0 0 0;
    position: fixed;
    bottom: 0;
}

.keyboard .key {
    text-align: center;
    color: #dda;
    cursor: pointer;
    border-style: solid;
    border-color: #555 #333 #333 #555;
    border-width: 2px;
    border-radius: 10px;
    background-color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
}

.keyboard .key.down, .keyboard .alt.isOn, .keyboard .shift.isOn {
    border-color: #222 #444 #444 #222;
    background-color: #333;
}

.keyboard .key.exec {
    background-color: #474;
    border-color: #62a562 #284628 #284628 #62a562;
}

.keyboard .key.alt, .keyboard td.key.shift {
    background-color: #763;
    border-color: #ad944a #41381c #41381c #ad944a;
}

.keyboard .key.alt.isOn, .keyboard td.key.shift.isOn {
    color: #aa8;
    background-color: #41381c;
    border-color: #0c0a05 #534724 #534724 #0c0a05;
}

.keyboard td {
    width: 5%;
}

.keyboard td.key {
    width: 10%;
}

.keyboard td.key.bksp {
    width: 15%;
}

#result {
    white-space: pre;
    margin: 15px 15px 60px 15px;
}

#result.error {
    color: red;
}

#closeOutputButton {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    font-size: 3ex;
    color: #dda;
    cursor: pointer;
    border-style: solid;
    border-color: #555 #333 #333 #555;
    border-width: 2px;
    border-radius: 10px;
    background-color: #444;
}
