WARNING on line 36 of /home/nick/develop/apl/examples/web/index.sass:
This selector doesn't have any properties and will not be rendered.
body {
  width: 1000px;
  margin: 10px auto; }

h1 {
  font-family: monospace; }

a {
  padding: 1px 1px;
  margin: 1px 0;
  text-decoration: none;
  color: #000088; }

a:hover {
  background-color: khaki; }

#symbols {
  font-family: monospace;
  font-size: 20px; }

#code {
  font-size: 28px;
  vertical-align: bottom;
  height: 200px;
  width: 900px; }

#go {
  font-size: 48px;
  vertical-align: bottom;
  font-weight: bold; }

#result {
  font-family: monospace;
  margin-top: 20px; }
  #result .character {
    color: #884400;
    font-weight: bold; }
  #result .function {
    color: green;
    font-style: italic; }
  #result .unknown {
    color: red; }
  #result .array {
    border: solid black 1px; }
  #result .empty {
    color: #aaaaaa;
    font-style: italic; }
  #result .error {
    color: red;
    border: solid #ffdddd 1px;
    background-color: #ffeeee;
    padding: 10px; }

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111111;
  background-color: khaki;
  padding: 5px;
  width: 200px; }
  #tooltip h3, #tooltip div {
    margin: 0; }
  #tooltip .symbol {
    background-color: white;
    font-size: 48px;
    padding: 0 10px;
    font-family: monospace; }
  #tooltip .keys {
    float: right;
    font-family: monospace;
    padding: 5px; }
    #tooltip .keys .key {
      padding: 3px 5px;
      background-color: #dddddd;
      border: outset #dddddd 5px;
      border-radius: 7px;
      -moz-border-radius: 7px; }
  #tooltip .description {
    clear: both; }
