WARNING on line 32 of /home/nick/develop/apl/examples/web/index.sass:
This selector doesn't have any properties and will not be rendered.
body {
  width: 1000px;
  margin: 10px auto; }

h1 {
  font-family: monospace; }

a {
  padding: 1px 1px;
  margin: 1px 0;
  text-decoration: none;
  color: #000088; }

a:hover {
  background-color: khaki; }

#code {
  font-size: 28px;
  vertical-align: bottom;
  height: 200px;
  width: 900px; }

#go {
  font-size: 48px;
  vertical-align: bottom;
  font-weight: bold; }

#result {
  font-family: monospace;
  margin-top: 20px; }
  #result .character {
    color: #884400;
    font-weight: bold; }
  #result .function {
    color: green;
    font-style: italic; }
  #result .unknown {
    color: red; }
  #result .array {
    border: solid black 1px; }
  #result .empty {
    color: #aaaaaa;
    font-style: italic; }
  #result .error {
    color: red;
    border: solid #ffdddd 1px;
    background-color: #ffeeee;
    padding: 10px; }
