$orange: #fd8
$orangePressed: #db6
$blue: #acf

body
  width: 1000px
  margin: 10px auto
  font-family: apl

textarea
  font-family: apl

h1
  font-family: monospace

a
  padding: 1px 1px
  margin: 1px 0
  text-decoration: none
  color: #008

a:hover
  background-color: $orange

#permalink
  float: right

#code
  font-size: 28px
  vertical-align: bottom
  height: 200px
  width: 100%

#go
  float: right
  width: 100px
  font-size: 48px
  background-color: #acf
  border-color: #acf
  border-radius: 4px
  cursor: pointer

#result
  margin-top: 20px

  .character
    color: #840
    font-weight: bold

  .function
    color: green
    font-style: italic

  .unknown
    color: red

  .array
    border: solid black 1px

  .empty
    color: #aaa
    font-style: italic

  .error
    color: red
    border: solid #fdd 1px
    background-color: #fee
    padding: 10px

.ui-keyboard
  position: fixed    !important
  top: auto          !important
  bottom: 0          !important
  left: 50%          !important
  right: auto        !important
  margin-left: -12em !important
  background-color: #999
  border-top-left-radius:  6px
  border-top-right-radius: 6px
  border: solid #777 1px
  border-width: 1px 1px 0 1px

.ui-keyboard-space
  min-width: 16em    !important
  width: auto        !important

.ui-keyboard-shift, .ui-keyboard-alt
  background-color: $orange
  border-color: $orange
  border-radius: 4px

.ui-keyboard-shift.ui-state-active, .ui-keyboard-alt.ui-state-active
  background-color: $orangePressed
  border-color: $orangePressed
  border-style: inset

.ui-keyboard-exec
  background-color: $blue !important
  border-color: $blue     !important
  border-radius: 4px      !important
  min-width: 4em          !important
  width: auto             !important
