!!!5
html
  head
    meta(charset='UTF-8')
    title ngn/apl demo
    style @import url(all.css);
  body
    a#linkToMobile(href='../m/index.html') mobile version
    h1 <a href="https://github.com/ngn/apl#readme">ngn/apl</a> demo
    a#permalink(href='#', title='A bookmarkable link to the source code below') #permalink
    #examples Examples:
    form: p
      <textarea id='code'></textarea>
      input#go(type='submit', value='⍎', title='Execute code (ctrl-Enter)')

    #result

    script(src='all.js')
