!!!5
html
  head
    meta(charset='UTF-8')
    title ngn/apl demo
    style
      @import url(../fonts/index.css);
      @import url(index.css);
      @import url(keyboard.css);
      @import url(tipsy.css);

  body
    a#linkToMobile(href='../m/index.html') mobile version
    h1 <a href="https://github.com/ngn/apl#readme">ngn/apl</a> demo
    a#permalink(href='#', title='A bookmarkable link to the source code below') #permalink
    #examples Examples:
    form: p
      <textarea id='code'></textarea>
      input#go(type='submit', value='⍎', title='Execute code (ctrl-Enter)')

    #result

    script(src='apl-stitched.js')
    script(src='jquery-1.9.1.min.js')
    script(src='jquery.fieldselection.min.js')
    script(src='jquery.keyboard.min.js')
    script(src='jquery.retype.min.js')
    script(src='jquery.tipsy.js')
    script(src='examples.js')
    script(src='index.js')
    script(type='text/javascript')
      var _gaq = [['_setAccount', 'UA-23946726-1'], ['_trackPageview']];
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
