!!!5
%html
  %head
    %title ngn/apl demo
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    %link(rel="stylesheet" type="text/css" href="index.css")
  %body
    %h1 ngn/apl demo

    #symbols

    #keyboardSwitch
      %p
        %a(href='#keyboard') Show keyboard

    #examples Examples:

    %form
      %p
        %textarea#code
        %input#go(type='submit' value='⍎')

    #result

    %script(src='fake-exports.js'              type='text/javascript')
    %script(src='../lib/helpers.js'            type='text/javascript')
    %script(src='../lib/parser.js'             type='text/javascript')
    %script(src='../lib/builtins.js'           type='text/javascript')
    %script(src='../lib/interpreter.js'        type='text/javascript')
    %script(src='../lib/browser.js'            type='text/javascript')
    %script(src='jquery-1.6.1.min.js'          type='text/javascript')
    %script(src='jquery.fieldselection.min.js' type='text/javascript')
    %script(src='jquery.retype.min.js'         type='text/javascript')
    %script(src='jquery.dimensions.js'         type='text/javascript')
    %script(src='jquery.tooltip.js'            type='text/javascript')
    %script(src='index.js'                     type='text/javascript')
