body
  width: 1000px
  margin: 10px auto
  font-family: apl monospace

h1
  font-family: monospace

a
  padding: 1px 1px
  margin: 1px 0 
  text-decoration: none
  color: #008

a:hover
  background-color: khaki

#symbols
  font-family: apl monospace
  font-size: 20px

#code
  font-size: 28px
  vertical-align: bottom
  height: 200px
  width: 900px

#go
  font-size: 48px
  vertical-align: bottom

#result
  margin-top: 20px

  .character
    color: #840
    font-weight: bold

  .function
    color: green
    font-style: italic

  .unknown
    color: red

  .array
    border: solid black 1px

  .empty
    color: #aaa
    font-style: italic

  .error
    color: red
    border: solid #fdd 1px
    background-color: #fee
    padding: 10px

#tooltip
  position: absolute
  z-index: 3000
  border: 1px solid #111
  background-color: khaki
  padding: 5px
  width: 200px

  h3, div
    margin: 0

  .symbol
    background-color: white
    font-size: 48px
    padding: 0 10px

  .keys
    float: right
    padding: 5px

    .key
      padding: 3px 5px
      background-color: #ddd
      border: outset #ddd 5px
      border-radius: 7px
      -moz-border-radius: 7px

  .description
    clear: both



$kbdDark:   #000
$kbdNormal: #333
$kbdLight:  #444
#keyboardSwitch
  float: right
  .switchText
    margin: 0
    text-align: right

.keyboard
  background-color: $kbdNormal
  border: solid $kbdDark 5px
  border-color: $kbdDark $kbdLight $kbdLight $kbdDark
  padding: 3px

  .help
    text-align: center
    font-family: serif
    font-style: italic
    color: #888
    padding-bottom: 3px

  table.row
    border-collapse: collapse
    border-width: 0

  td
    padding: 0
    margin: 0

  .key
    width: 50px
    height: 50px
    padding: 0
    margin: 0
    background-color: $kbdNormal
    border-style: solid
    border-width: 5px
    border-color: $kbdLight $kbdDark $kbdDark $kbdLight
    border-radius: 7px
    -moz-border-radius: 7px
    color: #997
    font-family: sans-serif

    td
      width: 50%
      height: 50%
      text-align: center

    td.upperAPLRegister
      color: #f64

    td.lowerAPLRegister
      color: #8af
      text-shadow: 0 0 12px

  .key.tabKey, .key.backspaceKey
    width: 75px

  .key.enterKey
    width: 85px

  .key.capsLockKey
    width: 90px

  .key.leftShiftKey
    width: 106px

  .key.rightShiftKey
    width: 119px

  .key.tabKey, .key.backspaceKey, .key.enterKey, .key.capsLockKey, .key.leftShiftKey, .key.rightShiftKey
    font-size: 12px
    height: 54px
