WARNING on line 35 of /home/nick/develop/apl/web/index.sass:
This selector doesn't have any properties and will not be rendered.
DEPRECATION WARNING:
On line 95, character 3 of '/home/nick/develop/apl/web/index.sass'
Setting variables with = has been deprecated and will be removed in version 3.2.
Use "$kbdDark: black" instead.

You can use `sass-convert --in-place --from sass2 file.sass' to convert files automatically.

DEPRECATION WARNING:
On line 96, character 3 of '/home/nick/develop/apl/web/index.sass'
Setting variables with = has been deprecated and will be removed in version 3.2.
Use "$kbdNormal: #333333" instead.

You can use `sass-convert --in-place --from sass2 file.sass' to convert files automatically.

DEPRECATION WARNING:
On line 97, character 3 of '/home/nick/develop/apl/web/index.sass'
Setting variables with = has been deprecated and will be removed in version 3.2.
Use "$kbdLight: #444444" instead.

You can use `sass-convert --in-place --from sass2 file.sass' to convert files automatically.

body {
  width: 1000px;
  margin: 10px auto; }

h1 {
  font-family: monospace; }

a {
  padding: 1px 1px;
  margin: 1px 0;
  text-decoration: none;
  color: #000088; }

a:hover {
  background-color: khaki; }

#symbols {
  font-family: monospace;
  font-size: 20px; }

#code {
  font-size: 28px;
  vertical-align: bottom;
  height: 200px;
  width: 900px; }

#go {
  font-size: 48px;
  vertical-align: bottom; }

#result {
  font-family: monospace;
  margin-top: 20px; }
  #result .character {
    color: #884400;
    font-weight: bold; }
  #result .function {
    color: green;
    font-style: italic; }
  #result .unknown {
    color: red; }
  #result .array {
    border: solid black 1px; }
  #result .empty {
    color: #aaaaaa;
    font-style: italic; }
  #result .error {
    color: red;
    border: solid #ffdddd 1px;
    background-color: #ffeeee;
    padding: 10px; }

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111111;
  background-color: khaki;
  padding: 5px;
  width: 200px; }
  #tooltip h3, #tooltip div {
    margin: 0; }
  #tooltip .symbol {
    background-color: white;
    font-size: 48px;
    padding: 0 10px;
    font-family: monospace; }
  #tooltip .keys {
    float: right;
    padding: 5px;
    font-family: monospace; }
    #tooltip .keys .key {
      padding: 3px 5px;
      background-color: #dddddd;
      border: outset #dddddd 5px;
      border-radius: 7px;
      -moz-border-radius: 7px; }
  #tooltip .description {
    clear: both; }

#keyboardSwitch {
  float: right; }
  #keyboardSwitch p {
    margin: 0;
    text-align: right; }

.keyboard {
  background-color: #333333;
  border: solid black 5px;
  border-color: black #444444 #444444 black;
  padding: 3px; }
  .keyboard table.row {
    border-collapse: collapse;
    border-width: 0; }
  .keyboard td {
    padding: 0;
    margin: 0; }
  .keyboard .key {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: #333333;
    border-style: solid;
    border-width: 5px;
    border-color: #444444 black black #444444;
    border-radius: 7px;
    -moz-border-radius: 7px;
    color: #999977;
    font-family: sans-serif; }
    .keyboard .key td {
      width: 50%;
      height: 50%;
      text-align: center; }
    .keyboard .key td.upperAPLRegister {
      color: #ff6644;
      font-family: monospace; }
    .keyboard .key td.lowerAPLRegister {
      color: #88aaff;
      font-family: monospace;
      text-shadow: 0 0 12px; }
  .keyboard .key.tabKey, .keyboard .key.backspaceKey {
    width: 75px; }
  .keyboard .key.enterKey {
    width: 85px; }
  .keyboard .key.capsLockKey {
    width: 90px; }
  .keyboard .key.leftShiftKey {
    width: 106px; }
  .keyboard .key.rightShiftKey {
    width: 119px; }
  .keyboard .key.tabKey, .keyboard .key.backspaceKey, .keyboard .key.enterKey, .keyboard .key.capsLockKey, .keyboard .key.leftShiftKey, .keyboard .key.rightShiftKey {
    font-size: 12px;
    height: 54px; }
