body {
  width: 1000px;
  margin: 10px auto;
  font-family: apl monospace; }

h1 {
  font-family: monospace; }

a {
  padding: 1px 1px;
  margin: 1px 0;
  text-decoration: none;
  color: #000088; }

a:hover {
  background-color: khaki; }

#symbols {
  font-family: apl monospace;
  font-size: 20px; }

#code {
  font-size: 28px;
  vertical-align: bottom;
  height: 200px;
  width: 900px; }

#go {
  font-size: 48px;
  vertical-align: bottom; }

#result {
  margin-top: 20px; }
  #result .character {
    color: #884400;
    font-weight: bold; }
  #result .function {
    color: green;
    font-style: italic; }
  #result .unknown {
    color: red; }
  #result .array {
    border: solid black 1px; }
  #result .empty {
    color: #aaaaaa;
    font-style: italic; }
  #result .error {
    color: red;
    border: solid #ffdddd 1px;
    background-color: #ffeeee;
    padding: 10px; }

.ui-keyboard {
  position: fixed !important;
  top: auto !important;
  bottom: 0 !important;
  left: 50% !important;
  right: auto !important;
  margin-left: -12em !important;
  background-color: #999999;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: solid #777777 1px;
  border-width: 1px 1px 0 1px; }

.ui-keyboard-space {
  min-width: 16em !important;
  width: auto !important; }

.ui-keyboard-shift, .ui-keyboard-alt {
  background-color: #ffdd88;
  border-color: #ffdd88;
  border-radius: 4px; }

.ui-keyboard-shift.ui-state-active, .ui-keyboard-alt.ui-state-active {
  background-color: #ddbb66;
  border-color: #ddbb66;
  border-style: inset; }

.ui-keyboard-exec {
  background-color: #88ff88;
  border-color: #88ff88;
  border-radius: 4px; }
